.colorR {color: red}
.float {float: left; position: relative}

.qcloud .qcloudPng {margin-top: -5%; width: 60% }
.qcloud ul {width: 30%; margin: 2%; text-align: left}
.qcloud ul li {line-height: 1.5em}




