.colorR {color: red}
.float {float: left; position: relative}

.qcloud .qcloudPng {margin-top: -5%; width: 60% }
.qcloud ul {width: 30%; margin: 2%; text-align: left}
.qcloud ul li {line-height: 1.5em}



/*图片展示*/
.showImageBox{
    width: 100%;
    min-width: 1200px;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.9);
    top: 0;
    left: 0;
    z-index: 1100;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.showImage-close{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #3293ff;
    text-align: center;
    line-height: 43px;
    font-size: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    z-index: 10;
    cursor: pointer;
}
.showImage-left,.showImage-right{
    width: 70px;
    height: 110px;
    position: absolute;
    top: 30%;
    background: url("../images/showImgArrows.png") left center no-repeat;
    opacity: .5;
    cursor: pointer;
    z-index: 10;
}
.showImage-left:hover,.showImage-right:hover{
    background-color: #9e9e9e;
    opacity: 1;
}
.showImage-left{
    left: 0;
    background-position: 16px center;
}
.showImage-right{
    right: 0;
    background-position: -43px center;
}
.showImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.showImage.scroll{
    max-width: 1200px;
}
/*图片展示*/
/*悬浮提示*/
.showToasts{
    min-width: 200px;
    max-width: 600px;
    text-align: center;
    padding: 20px 50px;
    position: fixed;
    z-index: 1110;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    display: none;
}
/*悬浮提示*/