<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8;"/>
    <meta name="renderer" content="webkit">
    <META http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,user-scalable=yes">
    <meta name="keywords" content="betterPPT,WeJs">
    <meta name="description" content="A html5 ppt demo with WeJs">

    <title>betterPPT示例</title>
    <link rel="icon" href="/node/images/favicon.ico" type="image/x-icon" />

</head>

<link href="/node/css/betterPPT.css" rel="stylesheet" type="text/css"/>
<link href="/node/css/demo.css" rel="stylesheet" type="text/css"/>

<!--<script type="text/javascript" src="/node/js/jquery.js"></script>-->
<!--<script type="text/javascript" src="/node/js/betterPPT.js"></script>-->
<script type="text/javascript" src="/node/js/WeJs.js" data-path="/node/js/" data-preload="betterPPT,demo"></script>

<div class="betterPPT-unsupported">
    <div style="margin: 200px 10%">您的浏览器不支持该DEMO的展示<br />请使用最新版的 chrome/safari/firefox 预览</div>
</div>
<div class="betterPPT">
    <section>
        <p>一个简单的例子</p>
    </section>

    <section from="left" id="theme-section">
        <p>试着改变模版看看</p>
        <img src="/node/theme/bamboo.jpg" theme="bamboo" onclick="demoJs.clickImg(this)">
        <img src="/node/theme/blue.jpg" theme="blue" onclick="demoJs.clickImg(this)">
        <img src="/node/theme/earth.jpg" theme="earth" onclick="demoJs.clickImg(this)">
        <img src="/node/theme/light.jpg" theme="light" onclick="demoJs.clickImg(this)">
        <img src="/node/theme/note.jpg" theme="note" onclick="demoJs.clickImg(this)">
        <img src="/node/theme/orange.jpg" theme="orange" onclick="demoJs.clickImg(this)">
    </section>
</div>

<script type="text/javascript">
    var PPT, demoJs;
    WeJs.ready(function (betterPPT, demo) {
        demoJs = demo;
        PPT = new betterPPT('.betterPPT');
        PPT.config({showImg: false}).init();
    });
    //    var PPT = new betterPPT('.betterPPT');
    //    PPT.init();
</script>