<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8;"/>
    <meta name="renderer" content="webkit">
    <META http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,user-scalable=yes">
    <title>晋级PPT - billge</title>
</head>
<body>
<link href="/node/css/betterPPT.css" rel="stylesheet" type="text/css"/>
<link href="/node/css/promote.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/node/js/WeJs.js" data-path="/node/js/" data-preload="betterPPT,promote"></script>

<div class="betterPPT-unsupported">
    <div style="margin: 200px 10%">您的浏览器不支持该DEMO的展示<br />请使用最新版的 chrome/safari/firefox 预览</div>
</div>
<div class="betterPPT">
    <section>
        <p>一个简单的例子</p>
    </section>
</div>

<script type="text/javascript">
    var PPT, promoteJs;
    WeJs.ready(function (betterPPT, promote) {
        promoteJs = promote;
        PPT = new betterPPT('.betterPPT');
        PPT.init();
    });
</script>

</body>
</html>